#tabela{
	display: block;
	z-index: 0;
	width: 300px;
}

#toPjs{
	display:none;
	overflow:hidden;
	z-index: 0;
	width:800px;
	height:600px;
}

#pjs{
	width:100%;
	height: auto;
	outline: none
}

body{
	background-color:#b42323;
}

.corpo a{
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.teamlogo img{
	width: 400px;
	height: 80px;
}
