#tabela{
	display: block;
	position:absolute;
	z-index: 0;s

}


#toPjs{
	display:none;
    position:absolute;
    overflow:hidden;
	z-index: 0;
	width:500px;
	height:500px;
}

#pjs{
	width:100%;
	height: auto;
	outline: none
}

body{
	background-color:#b42323;
	font-family: 'Lekton', sans-serif;
}

.teamlogo img{
	display:block;
  margin-left: auto;
  margin-right: auto;
}

.corpo a{
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.teamlogo img{
	width: 400px;
	height: 250px;
}

#fname {
	display:block;
	text-align:center;
	border:none;
  margin-left: auto;
  margin-right: auto;
	top:80%;
	position:relative;
	color:#fff ;
	background-color:#b42323;
	font-size: 20px;
	font-family: 'Lekton', sans-serif;

}

#submit{
	display:block;
	text-align:center;
	border:none;
  margin-left: auto;
  margin-right: auto;
	top:80%;
	position:relative;

	background: url(images/triangle0.png) no-repeat;
	width:55px;
	height:65px;
  color: transparent;
}

#submit:hover{
	background: url(images/triangle1.png) no-repeat;
}

::-webkit-input-placeholder { color:#59000b; }
::-moz-placeholder { color:#59000b; } /* firefox 19+ */
:-ms-input-placeholder { color:#59000b; } /* ie */
input:-moz-placeholder { color:#59000b; }
